
  .footer {
    background-color:#FEF6F4;
    text-align: center;
    border-radius: 20px;
    height: 70px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }