.footer {
  background-color: #fef6f4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 70px;
  font-family: "Rubik";
  font-style: normal;
  font-size: 14px;
}

.download-section {
  background-color: #da6b90;
  width: 100%;
  height: 201px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-family: "Rubik";
  font-style: normal;
  margin-bottom: 30px;
  background-image: url(images/design.svg);
  background-position: top;
}

.download-content {
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 180px;
  justify-content: center;
  width: 501px;

}

.download-buttons {
  display: flex;
  align-items: center;
  gap: 34px;
}

.download-button {
  background-color: #ffffff;
  border-radius: 10px;
  display: block;
  color: #000000;
  text-decoration: none;
  width: 180px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  gap: 20px;
  transition-duration: 0.3s;
}

.download-button:hover {
  transform: scale(1.1);
}

.download-button p {
  margin: 0;
  font-size: 13px;
}

.download-button p:nth-child(2) {
  font-size: 20px;
}

.icon {
  width: 130px;
  height: 80px;
}

.menu {
  width: 18px;
  height: 12px;
  display: none;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  font-family: "Rubik";
  font-style: normal;
  padding-bottom: 20px;
}

.nav-button {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  transition-duration: 0.3s;
}

.nav-button:hover {
  transform: scale(1.1);
}

.nav-bar {
  display: flex;
  gap: 30px;
  align-items: center;
}

.howitworks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Rubik";
  font-style: normal;
  background-image: url(images/design3.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

.mobile {
  height: 600px;
}

.howitworks-content h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  color: #000000;
  height: 80px;
  margin-bottom: 32px;
}

.howitworks-content p {
  width: 506px;
  font-size: 16px;
  line-height: 32px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.faq {
  width: 100%;
  padding-bottom: 80px;
  background-color: #fef6f4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(images/design2.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.faq-head {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
}

.home-section {
  display: flex;
  background-color: white;
  justify-content: space-around;
  font-family: "Rubik";
  font-style: normal;
  background-image: url(images/rect.svg);
  background-repeat: no-repeat;
  background-size: 100%;

}

.home-head {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  background: linear-gradient(to right, #ea6290 0.05%, #ec7363 31.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.question {
  display: flex;
  gap: 40px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.question:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}


.question button {
  width: 24px;
  height: 24px;
  background-color: #db727d;
  border-radius: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-content {
  width: 640px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.image-property {
  width: 100%;
  max-width: 320px;
  height: auto;
  padding-top: 50px;

}

.home {
  height: 100vh;
}

.image-mobile {
  display: flex;
}

.body {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 12px 12px 10px 10px;
}


.answer {
  font-family: "rubik";
  line-height: 28px;
  padding-left: 60px;
  font-size: 14px;
}

.answer.hidden {
  display: none;
}

.faq-section {
  width: 600px;
}

.t-and-c-container {
  max-width: 880px;
  box-sizing: border-box;
  padding: 100px 40px;
  margin: 0 auto;
  font-family: Rubik, sans;
}

.t-and-c-container * {
  font-size: 16px;
  line-height: 30px;
}

.t-and-c-container h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.t-and-c-container p {
  margin: 0;
}

.t-and-c-container h6 {
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 8px;
}

.terms-and-conditions {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
}



.nav-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #EA918A;
  font-family: 'rubik';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  padding-top: 60px;
}

.menu-option {
  text-decoration: none;
  font-family: 'rubik';
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
  font-family: 'rubik';
  padding-bottom: 40px;
  transition-duration: 0.3s;
}

.menu-option:hover {
  transform: scale(1.1);
}


.close {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  padding-top: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'rubik';
}

.closeMenu {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  transition-duration: 0.3s;
}

.closeMenu:hover {
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}



@media screen and (max-width: 600px) {

  .download-section {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .download-content {
    justify-content: center;
    width: 300px;

  }

  .download-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .download-content p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .download-button p {
    font-size: 8px;
  }

  .download-button p:nth-child(2) {
    font-size: 14px;
  }

  .icon {
    width: 74px;
    height: 54px;
  }

  .download-button {
    width: 130px;
    height: 49px;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
  }

  .howitworks {
    width: 100%;
    flex-direction: column-reverse;
    gap: 50px;
  }

  .howitworks-content h2 {
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }

  .howitworks-content p {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mobile {
    height: 350px;
  }

  .home-section {
    width: 100%;
    background-image: url(images/rect.svg);
    background-size: 200%;
    flex-direction: column;
    border-radius: 30px;
  }

  .home-content {
    font-size: 20px;
    line-height: 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
  }

  .home-head {
    display: none;
  }

  .image-property {
    width: 100%;
    max-width: 200px;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .image-mobile {
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: block;
  }

  .faq {
    width: 100%;
    border-radius: 20px;
    background-image: url(images/design2.svg);
    background-repeat: no-repeat;
  }

  .nav-button {
    display: none;
  }

  .faq-head {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .question {
    gap: 14px;
    font-weight: 500;
    font-size: 18px;
  }

  .faq-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .answer {
    line-height: 28px;
    font-size: 14px;
    padding-left: 40px;
  }

  .questions {
    width: 310px;
  }

}

@media (max-width: 914px) and (min-width: 601px) {

  .mobile {
    height: 300px;
  }

  .image-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .howitworks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .image-property {
    width: 100%;
    max-width: 200px;
    height: auto;
    padding-top: 50px;
  }

  .home-head {
    font-size: 50px;
  }

  .home-content {
    width: 400px;
    font-weight: 500;
    font-size: 20px;
  }

  .download-button {
    border-radius: 10px;
    display: block;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    gap: 20px;
  }

  .download-button p {
    font-size: 10px;
  }

  .download-button p:nth-child(2) {
    font-size: 15px;
  }

  .icon {
    width: 110px;
    height: 60px;

  }

  .download-content {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    width: 100%;
  }

  .faq {
    width: 100%;
    padding-bottom: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .howitworks-content h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 35px;
  }

  .howitworks-content p {
    font-size: 14px;
    line-height: 30px;
    width: 400px;
  }

  .faq-head {
    font-weight: 500;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .download-buttons {
    gap: 40px;
    align-items: center;
    justify-content: center;
  }

  .download-section {
    flex-direction: column;
    justify-content: center;
  }

  .home {
    height: 40vh;
  }
}

@media (max-width: 1340px) and (min-width: 915px) {
  .download-section {
    flex-direction: column;
    justify-content: center;
  }

  .download-buttons {
    gap: 80px;
    align-items: center;
    justify-content: center;
  }

  .download-section {
    height: 250px;
  }

  .download-content {
    width: 100%;
  }

  .mobile {
    height: 450px;
  }

  .image-property {
    width: 100%;
    max-width: 260px;
    height: auto;
    padding-top: 50px;
  }

  .home-content {
    width: 400px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
  }

  .download-button {
    width: 160px;
    height: 50px;
  }

  .download-buttons {
    gap: 40px;
  }

  .home-head {
    font-size: 50px;
  }

  .howitworks-content h2 {
    font-size: 35px;
  }

  .faq-head {
    font-size: 40px;
  }

  .download-content {
    font-size: 25px;
  }

  .home {
    height: 78vh;
  }
}